*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 2000px;
    height: 1080px;
    display: flex;
    margin: 0 auto;
    background-color: #151515;
}
.contact_left-img{
    width: 611px;
    height: 965.74px;
    margin-top: 37px;
}
.contact_center-img{
    width: 858px;
}
.haldi{
    margin-top: -295px;
}
.contact_right-send{
    background: rgba(255, 255, 255, 0.05);
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    border-radius: 10px;
    margin-top: 90px;
    margin-left: -250px;
    width: 626px;
    height: 926.14px;
}


.gobi{
    margin-top: -510px;
    margin-left: 120px
}


.text{
    text-align: center;
    color: #fff;
}
.a_href{
    background-color: #FF8C42;
    text-decoration: none;
    width: 155px;
    height: 42px;
    display: inline-block;


}
.text2{
    color: #fff;
    margin-top: 250px;
}
.paragraf{
    margin-bottom: 20px;
    margin-left: 80px
}
.btn{
    text-align: center;
    margin-top: 100px;
}
.p{
    color: #fff;
}